<div class="card">
  <h1 class="card-header">
    Home page
  </h1>
  <div class="card-body">
    <h3>Basic HTTP Client</h3>
    <hr>

    <div class="form-group">
      <h4>Albums</h4>
    </div>

    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>UserId</th>
        <th>Title</th>
      </tr>
      <tbody>
         <tr *ngFor="let album of albums">
           <td>{{album.id}}</td>
           <td>{{album.userId}}</td>
           <td>{{album.title}}</td>
         </tr>
      </tbody>

    </table>

    <hr>

    <div class="row" *ngIf="isShowWorkshop">
      <div class="col-sm">
        <app-com01></app-com01>

      </div>
      <div class="col-sm">
        <app-com02></app-com02>
      </div>
    </div>

    <!-- <hr> -->
    <form action="" class="form-group">
      <button type="button" *ngIf="!isShowWorkshop" (click)="isShowWorkshop = !isShowWorkshop"
        class="btn btn-primary">Show Workshop</button>
    </form>
    <!-- <div *ngIf="isShow" directive1="" >DIRECTIVE</div> -->
  </div>
</div>