  
<div class="card">
  <h1 class="card-header">
    Home page
  </h1>
  <div class="card-body">
      <h3>Basic Service</h3>
  
      

      <hr>

  
      
      <div class="row" *ngIf="isShowWorkshop">
          <div class="col-sm">
            <app-com01></app-com01>
      
          </div>
          <div class="col-sm">
            <app-com02 ></app-com02>
          </div>
        </div>
      
        <!-- <hr> -->
        <form action="" class="form-group">
          <button type="button" *ngIf="!isShowWorkshop" (click)="isShowWorkshop = !isShowWorkshop"
            class="btn btn-primary">Show Workshop</button>
        </form>
        <!-- <div *ngIf="isShow" directive1="" >DIRECTIVE</div> -->
  </div>
</div>

 