<div class="container">
  <br>

  <div class="card" [id]="boxId">
    <div class="card-header" (mouseover)="onTextChange('พื้นฐาน แองกูล่า 7')" (mouseout)="onTextChange('Basic Angular 7')">
      {{header}}
    </div>
    <div class="card-body">
      <h5 class="card-title" [style.color]="styleColor">{{title}}</h5>

      <div [hidden]="isShowHideAlert">
        <div [class]="alertClass" role="alert">
          A simple primary alert—check it out!
        </div>
  
        <div class="alert" [ngClass]="{'alert-success': isSuccessClass, 'alert-warning': !isSuccessClass}" role="alert">
          A simple success alert—check it out!
        </div>
      </div>


      <p class="card-text" [innerHTML]="content"></p>
      <a [attr.un4c]="un4cx" target="_blank" [href]="linkAddress" class="btn btn-primary" [innerText]="button"> </a>
   
      <span> | </span>
      <button class="btn btn-warning" (click)="onClick($event)">Event Button</button>

      <div class="mt-3 form-group">
        <label for="">Input data: </label>
        <input class="form-control w-25" type="text" [value]="title" (keyup)="onChangeTitle($event.target)">
      </div>

    

    </div>
  </div>

</div>