<div class="container">
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
      aria-controls="dropdown-basic">
      Button dropdown <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>

  <hr>

  <div class="container">
    <alert type="success">
      <strong>Well done!</strong> You successfully read this important alert message.
    </alert>
    <alert type="info">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </alert>
    <alert type="warning">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </alert>
    <alert type="danger">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </alert>
  </div>