<div class="container mt-4">
  <h1 directive1="" >Basic Component</h1>
  <hr>

  <form action="" class="form-group">
    <button type="button" *ngIf="!isShowComponent1" (click)="isShowComponent1 = !isShowComponent1" class="btn btn-primary">Show component</button>
  </form>
  
  <div class="row" *ngIf="isShowComponent1">
    <div class="col-sm">
      <app-com01  [message]="message">Component 01</app-com01>
      
    </div>
    <div class="col-sm">
      <app-com02 (onHide)="isShowComponent1 = $event" (onMessage)="onMessage($event)"  >Component 02</app-com02>
    </div>
  </div>

  <hr>

  <!-- <div *ngIf="isShow" directive1="" >DIRECTIVE</div> -->

  <div [ngSwitch]="lang" directive1>
    <span *ngSwitchCase="'eng'">English</span>
    <span *ngSwitchCase="'tha'">Thai</span>
    <span *ngSwitchDefault>unknown</span>
  </div>

</div>