<div class="card">
  <h3 class="card-header">Login page</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <h4>login</h4>
        <hr>
        <form [formGroup]="form" (submit)="onSubmit()">
          <div class="form-group">
            <label for="">username</label>
            <input formControlName="username" type="text" class="form-control">
            <div [appValidate]="form.get('username')" ></div>
          </div>
          <div class="form-group">
            <label for="">password</label>
            <input formControlName="password" type="password" class="form-control">
            <div [appValidate]="form.get('password')" ></div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-warning btn-block">login</button>
          </div>
          <div class="form-group text-center">
             <a [routerLink]="['/','register']"><u>register</u></a>
            </div>
        </form>
      </div>

      <div class="col-4"></div>
    </div>
  </div>
</div>