/* You can add global styles to this file, and also import other style files */

body{
    background-color: #eee; 
}

.form-control.ng-invalid.ng-dirty,
.form-control.ng-invalid.ng-dirty.ng-touched {
    border-color: #dc3545;
}

.form-control.ng-invalid.ng-dirty:focus,
.form-control.ng-invalid.ng-dirty.ng-touched:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}

.form-check-input.ng-invalid.ng-dirty~.form-check-label, .was-validated .form-check-input:invalid~.form-check-label {
    color: #dc3545;
}

.form-control.ng-invalid.ng-dirty~.invalid-feedback {
    display: block;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

